#static_container {width:560px;height:420px;border: 1px #d0d0d0 dashed;}

#player { width:560px;height:420px;position:relative;  background:#030303;}

#player #video { width:100%;height:100%;position:absolute;top:0;left:0;z-index:1; }

#player #subtitle { overflow: hidden; width:100%; position:absolute; bottom:0; z-index:2; }
#player #subtitle div { position:relative; width:100%; }
#player #subtitle div p { margin: 5px 0; padding: 0; font-size: 18px; font-weight: bold; text-align: center;}
#subtitle div.overlapping0 p {color: #f00; }
#subtitle div.overlapping1 p {color: #f80; }

/* controls pannel */
#player #controls_container { position: absolute; position: absolute; bottom: 10%; left:0; text-align: center;width:100%;}
#player #controls { margin: 0 auto; width: 448px; height: 100px; z-index: 5; opacity: 0; visibility: hidden; position:relative ;}
#player #controls .layer { position: absolute; height: 100%; width: 100%; bottom: 0; left: 0; background: #1a1a1a; opacity: 0.8; z-index:6;-moz-border-radius: 8px;
-webkit-border-radius: 8px; }
#player #controls .pannel {position:absolute; width:100%; height:100%; bottom:0; left:0; z-index:7;}

/* 1st line of controls pannel */
#player #controls .pannel #line1 {width: 100%; position: relative; height: 59px; margin-top: -8px;}
#player #controls .pannel #line1 #info {display:block; width: 22px; height: 21px; background: url(img/bt_info.png); margin: 18px 8px; float: left;}

/* sélection des sous-titres, TODO: adapter */
#subtitles_select {width: 105px; height:22px; margin: 18px 0 19px 0; float: left; }
div.subtitles_select {width: 105px; height:22px; margin: 18px 0 19px 0; float: left; }
div.subtitles_select a { position:relative; z-index:8; display: block; background: url(img/fond_soustitres.png); width: 90px; height: 20px; padding: 2px 15px 0 0; text-align:center; text-decoration: none; color: #c3e1e6; font-size: 14px; outline:none }
div.subtitles_select ul.options { position:relative;z-index:7;list-style: none; background: url(img/fond_soustitreDeplie.png) repeat-y; overflow-y: hidden; width:51px; margin: -8px -1px 0 0; padding: 6px 0 0 0 ; float:right; height:0px; }
div.subtitles_select ul.options li {background-repeat: no-repeat; background-position: 2px center ; width: 43px; margin: 1px 5px 1px 3px; padding: 2px 0 ; font-size: 13px; text-align:center; color: gray;} 
div.subtitles_select ul.options li.selected { background-color: #3d3d3d; color: #c3e1e6; }
div.subtitles_select ul.options li.none { background-image:url(img/drapeau_no.png);}
div.subtitles_select ul.options li.fr   { background-image:url(img/drapeau_fr.png);}
div.subtitles_select ul.options li.en   { background-image:url(img/drapeau_en.png);}
div.subtitles_select ul.options li.es   { background-image:url(img/drapeau_es.png);}
div.subtitles_select ul.options li.it   { background-image:url(img/drapeau_it.png);}
div.subtitles_select ul.options li span { margin: 0 0 0 18px; white-space: nowrap;}

/* fin de séléction des sous-titres */
#player #controls .pannel #line1 #playpause {display:block; width: 60px; height:59px; background: url(img/bt_pause.png); float: left; margin: 0 92px 0 51px;}
#player #controls .pannel #line1 #playpause.paused {background: url(img/bt_play.png);}
#player #controls .pannel #line1 #mute {display:block; width:21px; height:20px; background: url(img/bt_mute.png); float: left; margin: 19px 0 21px 0; }
#player #controls .pannel #line1 #mute.muted {background: url(img/bt_muteOn.png);}
#player #controls .pannel #line1 #slider_volume {width:22px; height:18px; background: url(img/volume_off.png); float: left; margin: 19px 0 21px 5px; position:relative; cursor:pointer;}
#player #controls .pannel #line1 #slider_volume #full_volume {width:100%; height:100%; background: url(img/volume_on.png);position:absolute;top:0;left:0;}
#player #controls .pannel #line1 #slider_volume #knob_volume {width:0px; height:100%; background:transparent; cursor:pointer;}
#player #controls .pannel #line1 #separator {display:block; float:left; width:1px; height:20px; border-left: 1px #000 solid; background:#c3e1e6;margin: 17px 0 21px 12px;}
#player #controls .pannel #line1 #fullscreen {display:block; width: 17px; height:16px; background: url(img/bt_fullscreen.png); float: left; margin: 19px 0 21px 12px; }
#player #controls .pannel #line1 #fullscreen.active { background: url(img/bt_fullscreenExit.png); }

/* 2nd line of controls pannel */
#player #controls .pannel #line2 {width:100%; margin: 16px 0 0 0 ;}
#player #controls .pannel #line2 div.time { float:left; width:60px; text-align:center; line-height: 18px; white-space: nowrap; font-size:14px; color:#c3e1e6; margin: 0 4px; font-size: 13px;}
#player #controls .pannel #line2 div#progresses_bar { float:left; width:312px; height:6px; margin: 5px 0; background:#a0a0a0; position:relative; -moz-border-radius: 3px;
-webkit-border-radius: 3px;}

#player #controls .pannel #line2 div#progresses_bar div#load { width:100%; height:100%; background:none; position:absolute; top:0; left: 0;  -moz-border-radius: 3px;
-webkit-border-radius: 3px;}
#player #controls .pannel #line2 div#progresses_bar div#load.preloading { background: url(img/progression.gif); }
#player #controls .pannel #line2 div#progresses_bar div#load #progress-bar-box-id {width:100%; height:100%;  -moz-border-radius: 3px;
-webkit-border-radius: 3px;}
#player #controls .pannel #line2 div#progresses_bar div#load.preloading #progress-bar-box-id  {display: none;}
#player #controls .pannel #line2 div#progresses_bar div#load #progress-bar-box-id #progress-bar-percentage-id {background-color: #00d8ff; height:100%; -moz-border-radius: 3px;
-webkit-border-radius: 3px;}
#player #controls .pannel #line2 div#progresses_bar #time_tooltip {position: absolute; top: -18px; left: -12px; width: 26px; height: 17px; background: url(img/etiquette_temps.png); font-size: 12px; text-align: center; display: none;}
#player #controls .pannel #line2 div#progresses_bar div#play_slider { width:100%; height:100%; background:none; position:absolute; top:0; left: 0; cursor: pointer;}
#player #controls .pannel #line2 div#progresses_bar div#play_slider div#knob_slider { width:7px;height:16px;background: url(img/cursor.png);margin-top:-5px;}


    


.clear {clear: both;}



